.container {
  width: 70%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.section {
  width: 80%;
  min-width: 250px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 3px;
  box-shadow: 0 0 7px 0 #000000b2;
  gap: 30px;
  margin: 30px 0 20px 0;
}

.span {
  font-family: var(--font-poppins-paragraph);
  font-size: 1.2rem;
  text-align: center;
}

.articleOptions {
  width: 80%;
  min-width: 250px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 3px;
  box-shadow: 0 0 7px 0 #000000b2;
  gap: 30px;
}

.articleOptions > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.articleOptions > div > span {
  font-family: var(--font-poppins-paragraph);
  font-size: 1.4rem;
}

.modalAddActive {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #8a8a8a;
  width: 35%;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #bcbcbcb2;
  box-shadow: 0 0 7px 0 #0000009d;
  transition: all 300ms;
  padding: 10px;
}

.modalAddClosed {
  position: absolute;
  top: -1000%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff5c;
  width: 35vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #bcbcbcb2;
  box-shadow: 0 0 7px 0 #0000009d;
  transition: all 300ms;
}

.buttonCloseModal {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.sectionModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionModal > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.sectionModal > div > label {
  font-family: var(--font-poppins-paragraph);
  font-size: 1.1rem;
}

.sectionModal > div > select {
  width: 100%;
  padding: 5px;
  font-size: 1.2rem;
  border: 1px solid #000;
  border-radius: 7px;
}

.titleModal {
  font-family: var(--font-roboto-title);
  font-size: 1.7rem;
}

.selectCategory {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px 0 10px;
  text-align: left;
}

.selectCategory > label {
  font-family: var(--font-poppins-paragraph);
  align-self: flex-start;
  font-size: 1.1rem;
  margin: 0 5px;
}

.selectCategory > select {
  width: 100%;
  padding: 5px;
  font-size: 1.2rem;
  border: 1px solid #000;
  border-radius: 7px;
}

.button {
  width: 120px;
  font-size: 16px;
  font-family: var(--font-poppins-paragraph);
  font-weight: 600;
  padding: 5px 10px;
  background-color: #fff;
  color: #000;
  outline: none;
  border-radius: 3px;
  border: 1px solid #fff;
  cursor: pointer;
}
